<h1>Applicant Home, Job Feed, Liked Jobs</h1>
<%=link_to "Edit Profile", my_profile_path%>
<br><br>
<h2>Based on These Tags: <%@tags.each do |x|%>
	<%=x%>
	<%end%>
</h2>
<br>
<h2>Feed</h2>
<%if @feed == [] %>
	<h2>No Jobs In Your Feed</h2>
<%else%>
	<%@feed.each do |job|%>
	<p>title: <%=job[:title]%></p>
	<p>description: <%=job[:description]%></p>
	<%=link_to "Like", like_path(job)%>
	<%=link_to "Dislike", dislike_path(job)%>
	<br>
	<%end%>
<%end%>

<br>
<br>
<h2>I liked these jobs: </h2>
<%if @liked == [] %>
	<h2>No Liked Jobs In Your Feed</h2>
<%else%>
	<%@liked.each do |job|%>
	<p>title: <%=job[:title]%></p>
	<p>description: <%=job[:description]%></p>
	<br>
	<%end%>
<%end%>
