<h1>Applicant Home</h1>

<div ng-view>
	<!-- where stuff gets generated -->
</div>


<%=link_to "Edit Profile", my_profile_path%>
<br>
<div ng-click="getProfileInfo()" 
ng-init="editProfile=false">EDIT PROFILE</div>
<h2 ng-model="profile"></h2>
<div ng-if="editProfile">

	<!-- patch to /myprofile -->
	<form ng-submit="saveProfile(link, tag_list)">
		<h2>Link</h2>
		<input type="text" ng-model="link" name="text" />
		<h2>Tag List</h2>
		<textarea type="text" ng-model="tag_list" name="text" /></textarea>
		<input type="submit" id="submit" value="Submit" />
	</form>
</div>

<br><br>
<h2>Based on These Tags: <%@tags.each do |x|%>
	<%=x%>
	<%end%>
</h2>
<br>
<h2>Feed</h2>
<%if @feed == [] %>
	<h2>No Jobs In Your Feed</h2>
<%else%>
	<%@feed.each do |job|%>
	<p>title: <%=job[:title]%></p>
	<p>description: <%=job[:description]%></p>
	<%=link_to "Like", like_path(job)%>
	<%=link_to "Dislike", dislike_path(job)%>
	<br>
	<%end%>
<%end%>

<br>
<br>
<h2>I liked these jobs: </h2>
<%if @liked == [] %>
	<h2>No Liked Jobs In Your Feed</h2>
<%else%>
	<%@liked.each do |job|%>
	<p>title: <%=job[:title]%></p>
	<p>description: <%=job[:description]%></p>
	<br>
	<%end%>
<%end%>
