<h1>Recruiter Home (my postings, search, notifications)</h1>
<%=link_to "Make a New Job Posting", new_post_path%>

<%@mypostings.each do |posting|%>
<p>title: <%=posting[:title]%></p>
<p>description: <%=posting[:description]%></p>
<p>likes: <%=posting[:like]%></p>
<p>dislikes: <%=posting[:dislike]%></p>
<p>created at: <%=posting[:created_at]%></p>
<br>
<%end%>

<%=form_for :search, url: "/searchprofile" do |f|%>
<% allPossibleTags.each do |x| %>
<%=f.label x[:name]%>
<%=f.check_box x[:name]%>
<%end%>
<%=f.submit "search profiles"%>
<%end%>
<br><br><br>

<h2>notifications</h2>
<p>Notification Count: <%=@notifications.count%></p>
<%@notifications.each do |notification| %>
<%=link_to notification.profile.applicant.name, seeprofile_path(notification.profile)%>
<%end%>
<br><br><br><br>
<br><br><br>
